body {
  font-family: Arial, sans-serif;
  background-image: linear-gradient(45deg, #79096c 25%, #008fac);
  background-repeat: no-repeat;
  height: 100vh;
}

.container {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  color: white;
  font-size: 42px;
  font-weight: bold;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

.todo-grid,
.todo-input-grid {
  display: grid;
  grid-template-columns: 200px 150px 100px;
  column-gap: 10px;
  row-gap: 20px;
  align-items: center;
}

.todo-grid {
  grid-template-columns: 20px 170px 150px 100px;
}

.todo-grid {
  margin-top: 20px;
  color: white;
}

.todo-input-grid {
  margin-bottom: 10px;
  align-items: stretch;
}

.name-input,
.due-date-input {
  font-size: 15px;
  padding: 6px;
  border: none;
  border-radius: 4px;
  box-shadow: 0 0 8px rgba(255, 255, 255, 0.6);
}

.name-input::placeholder {
}

.add-todo-button,
.delete-todo-button {
  background-color: rgb(0, 153, 255);
  color: white;
  border: none;
  font-size: 15px;
  cursor: pointer;
  transition: 0.15s;
  border: none;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 153, 255, 1);
}

.delete-todo-button {
  background-color: red;
  padding-top: 5px;
  padding-bottom: 5px;
  box-shadow: 0 0 5px red;
}

.delete-todo-button:hover {
  background-color: white;
  color: red;
  box-shadow: 0 0 10px rgba(255, 255, 255, 1);
}

.add-todo-button:hover {
  background-color: white;
  color: rgb(0, 153, 255);
  box-shadow: 0 0 10px rgba(255, 255, 255, 1);
}

.todo-task,
.todo-due-date {
  padding-left: 10px;
}

.input-checkbox {
  height: 14px;
  width: 25px;
}

.todo-task-checked {
  text-decoration: line-through;
  text-decoration-thickness: 1px;
}
